<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>广东海洋大学学生请假管理系统教师端</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="shortcut icon" href="../../../static/images/favicon.ico">
		<link href="../../../static/css/teacher/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../../static/css/teacher/font-awesome.min.css" />
		<link rel="stylesheet" href="../../../static/js/teacher/bootstrap_above/bootstrap-table-develop/dist/bootstrap-table.css" />
		<link rel="stylesheet" href="../../../static/css/teacher/ace.min.css" />
		<link rel="stylesheet" href="../../../static/css/teacher/ace-rtl.min.css" />
		<link rel="stylesheet" href="../../../static/css/teacher/ace-skins.min.css" />
		
		<style>
			.pagination-detail{
			display:none;
			}
		</style>
		
	</head>

	<body>
	<div class="image-container set-full-height">
		<div class="main-container" id="main-container">
			<div class="main-container-inner">
				<div class="content">
					<div class="page-content">
						<div class="row">
							  <div class="col-xs-12 col-md-12 col-lg-12 ">
									<!--此行不可删-->
									<span id="dataBox" style="display:none" >${yiban_id}</span>
								<table class="table-responsive" id="studentTable"></table>
							  </div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="../../../static/js/jquery-1.10.2.min.js"></script>
		<script type="text/javascript" src="../../../static/js/teacher/bootstrap_above/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../../../static/js/teacher/bootstrap_above/bootstrap-table-develop/dist/bootstrap-table.js"></script>
		<script type="text/javascript" src="../../../static/js/teacher/bootstrap_above/bootstrap-table-develop/dist/locale/bootstrap-table-zh-CN.js"></script>
		<script type="text/javascript" src="../../../static/script/demo.js"></script>
    </div>
    </div>
	</body>
</html>